stepsapp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
stepsapp.xcodeproj/project.xcworkspace/xcuserdata/ali.xcuserdatad/UserInterfaceState.xcuserstate
stepsapp.xcodeproj/xcuserdata/ali.xcuserdatad/xcschemes/xcschememanagement.plist
